.error-modal__title-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $modal-section-height;
        border-right: 1px solid $dialog-gray;
    }
}
