.modal {
    position: fixed;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 45rem;
    max-width: 90%;
    max-height: calc(100% - 12rem);
    background: $light;
    border-radius: $modal-radius;
    box-shadow: 0 0 0.6rem $primary;
    overflow-y: auto;
    &-header {
        display: flex;
        align-items: center;
        height: $modal-section-height;
        border-bottom: 1px solid $dialog-gray;
        padding-left: $modal-padding;
        &__title {
            flex: 1;
            text-align: left;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: 0.12rem;
            height:100%;
            &-wrapper {
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
        &__close {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $modal-section-height;
            height: $modal-section-height;
            border-left: 1px solid $dialog-gray;
            transition: all 350ms ease-in;
            &:hover {
                background: $gray;
            }
        }
    }
    &-body {
        padding: 0 $modal-padding;
        min-height: $modal-section-height;
    }
    &-actions {
        height: $modal-section-height;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $dialog-gray;
    }
}
