.app {
	text-align: center;
	.questions {
		display: flex;
		justify-content: space-between;
		margin: 50px auto;
	}

	.space {
		display: flex;
		justify-content: space-around;
	}

	.side {
		width: 45%;
	}

	.input {
		width: 80%;
	}
}
