.table-row {
    display: flex;
    padding: 0.4rem 0;

    & > .col {
        flex: 1;
        padding: 0.3rem 0.4em;
        &__small {
            flex: 0 5%;
        }
        &__large {
            flex: 2;
        }
    }
    &:nth-child(even) {
        background-color: $gray;
    }
    &.active {
        background-color: rgba($color: $light-green, $alpha: 0.6);
    }
}
