.table-row {
    display: flex;
    padding: 0.8rem 0;
    border-bottom: 2px solid rgba($color: $primary, $alpha: 0.1);
    background-color: $light-gray;
    transition: background-color 400ms linear;

    & > .col {
        flex: 1;
        padding: 0.3rem 0.4em;
        &__small {
            flex: 0 5%;
        }
        &__large {
            flex: 2;
        }
    }
    &:hover {
        background-color: $gray;
    }
    &.active {
        background-color: lighten($secondary, 22);
        &:hover {
            background-color: lighten($secondary, 16);
        }
    }
}
