.menu-container {
    position: relative;
    height: 100%;
}
.trigger-container {
    height: 100%;
}
.arrow {
    position: absolute;
    top: 65px;
    right: 5px;
    width: 300px;
    z-index: 20;
    background: $light;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .menu {
        box-shadow: 0 0.3rem 1rem rgba($primary, 0.5);
        border-radius: 8px;
        overflow: hidden;
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li:not(:empty) {
                border-bottom: 1px solid $grayish-blue;
                cursor: pointer;
                transition: background-color 300ms linear;
                & > * {
                    text-decoration: none;
                    color: $primary;
                    padding: 15px 20px;
                    display: block;
                }
                &:hover {
                    color: $deep-blue;
                    background: rgba($c-border, 0.3);
                }
                & .active {
                    font-weight: bold;
                    background: $gray;
                    font-size: 1.2rem;
                    color: $deep-blue;
                }
            }
        }
    }
    &:before {
        content: ' ';
        position: absolute;
        right: 9.5px;
        top: -18px;
        border-top: none;
        border-right: 14px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 14px solid rgba($color: $primary, $alpha: 0.1);
        filter: blur(2px);
    }
    &:after {
        content: ' ';
        position: absolute;
        right: 9px;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid $light;
    }
}
