.question-item {
    &__title {
        white-space: pre-wrap;
    }
    &__questions {
        display: flex;
        flex-direction: column;
        &.horizontal {
            flex-direction: row;
        }
    }
}
