.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($primary, 0.4);
    backdrop-filter: blur(0.75rem);
    height: 100%;
    z-index: 4;
}
