.fixed-footer {
    display: grid;
    grid-template-rows: 1fr $header-height;
    overflow: hidden;
    height: 100%;
    > :first-child {
        overflow: hidden;
    }
    > :last-child {
        align-self: center;
    }
}
