.section {
    display: grid;
    grid-template-rows: $header-height 1fr;
    height: 100%;
    overflow: hidden;
    &-links {
        display: flex;
        background: $light;
        border-top: 1px solid $deep-blue;
        box-shadow: 0 1px 5px $deep-blue;
        &__item {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1.1rem;
            transition: all 400ms ease-in-out;
            &:not(:last-of-type) {
                border-right: 1px solid $deep-blue;
            }
            &.active,
            &:hover {
                background: $gray;
                font-size: 1.2rem;
                color: $deep-blue;
            }
        }
    }
    &-content {
        height: 100%;
        overflow-y: auto;
    }
}
