.section {
    display: grid;
    grid-template-rows: $header-height 1fr;
    height: 100%;
    overflow: hidden;
    &-links {
        display: flex;
        background: $light;
        border-top: 1px solid $gray;
        box-shadow: 0 1px 20px rgba($deep-blue, 0.5);
        &__item {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-weight: bold;
            font-size: 1.1rem;
            margin: 0.2rem 0;
            transition: all 400ms ease-in-out;
            &:not(:last-of-type) {
                border-right: 1px solid $gray;
            }
            &.active {
                background: $gray;
                font-size: 1.2rem;
                color: $deep-blue;
            }
            &:hover {
                color: $deep-blue;
                background: rgba($c-border, 0.3);
            }
            &-error {
                position: absolute;
                right: 0.8rem;
            }
        }
    }
    &-content {
        height: 100%;
        overflow-y: auto;
    }
}
