.main__header {
	// background-color: $light;
	background: $bubble-bg;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 1px 20px rgba($deep-blue, 0.5);
	z-index: 3;
	&-title h1 {
		font-size: 2rem;
		margin: 0 1rem;
		color: $light;
	}
	&-more {
		$more-transition: 500ms ease-in-out;
		display: grid;
		align-items: center;
		justify-content: center;
		width: $header-height;
		height: 100%;
		position: relative;
		padding: 1rem 0;
		cursor: pointer;
		> :first-child {
			z-index: 3;
		}
		&__back {
			background: $button-bg;
			border-radius: 50%;
			position: absolute;
			top: 0.3rem;
			bottom: 0.3rem;
			right: 0.3rem;
			left: 0.3rem;
			opacity: 0;
			transition: opacity $more-transition;
		}
		&:hover {
			.main__header-more__dot {
				background-color: $light;
				box-shadow: 0 0 6px $primary;
			}
			.main__header-more__back {
				opacity: 0.6;
			}
		}
	}
}
