.autocomplete {
    position: relative;
    &-options {
        position: absolute;
        right: 0;
        left: 0;
        top: 3.6rem;
        z-index: 5;
        display: block;
        list-style: none;
        transition: width 0.3s;
        margin: 0;
        padding: 0;
        background: $light-gray;
        border: 1px solid $grayish-blue;
        border-radius: 0 0 0.5rem 0.5rem;
        box-shadow: $blue-shadow;
        overflow: hidden;
        overflow-y: scroll;
        max-height: 20rem;
        &__item {
            display: block;
            padding: 10px;
            font-size: 1.2rem;
            width: 100%;
            border-radius: 2px;
            transition: 0.3s all;
            &:not(:last-of-type) {
                border-bottom: 1px solid $grayish-blue;
            }
            &:hover:not(.empty) {
                color: $deep-blue;
                cursor: pointer;
                background: rgba($c-border, 0.3);
            }
            &.active {
                font-weight: bold;
                background: $gray;
                font-size: 1.2rem;
                color: $deep-blue;
            }
            &.empty {
                font-weight: bold;
            }
        }
    }
}
